//* contains general helper classes

html,
body {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  width: 100%;
  overflow: hidden;
}

//* wrapper used at the top-level
.App {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  overflow-y: auto;

  //* keeps .view centered since it's width is capped
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  color: $theme-on-primary;
  background: $light-purple;

  @include scrollbar($scrollbar-size, $scrollbar-fg, $scrollbar-bg);
}

//* used in creating the content view containers
//* used once per page (about; projects; etc.)
.view {
  position: relative;
  top: 0;
  left: 0;

  max-width: $max-view-width;
  width: 100%;
  height: max-content;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: $theme-primary-bg;
  //background: gray;

  &:nth-of-type(2n) {
    background: green;
  }

  &.centered {
    justify-content: center;
  }
}

//* used to keep related content in .view together
//* stays width of parent, but height grows based on content
.view-section {
  z-index: 1;
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.debug {
  border: 2px solid red;
}

.particle-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  //min-height: 100vh;
  z-index: 0;
  background: $theme-primary-bg;
  opacity: 1;
}
