//* contains general helper classes

body {
  width: 100%;
  padding: 0;
  margin: 0;

  overflow: hidden;
  //overflow-x: hidden;
  //overflow-y: auto;
}

//* wrapper used at the top-level
.App {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  //min-height: 100vh;
  //height: max-content;
  height: 100vh;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  background: $light-purple;

  @include scrollbar($scrollbar-size, $scrollbar-fg, $scrollbar-bg);
}

//* used in creating the content view containers
.view {
  max-width: $max-view-width;
  //min-height: 100vh;
  width: 100%;
  height: max-content;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  //background: gray;
  //background: none;
  background: gray;
  &:nth-of-type(2n) {
    background: green;
  }

  &.centered {
    justify-content: center;
  }
}

.debug {
  border: 2px solid red;
}

.particle-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
