//* contains general helper classes

body {
  width: 100%;
  padding: 0;
  margin: 0;

  @include scrollbar($scrollbar-size, $scrollbar-fg, $scrollbar-bg);
}

//* wrapper used at the top-level
.App {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  background: $main-bg;
}

//* used in creating the content view containers
.view {
  max-width: 1200px;
  min-height: 100vh;
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  //background: gray;
  &:nth-of-type(2n) {
    background: green;
  }

  &.centered {
    justify-content: center;
  }
}

.debug {
  border: 2px solid red;
}
