//* basic typography styling

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include font-init(
    $body-font-stack,
    16px,
    normal,
    $weight-normal,
    0.25px,
    1.5
  );
  text-align: center;
}

.title {
  &.is-size-1 {
    @include font-init(
      $header-font-stack,
      101px,
      normal,
      $weight-light,
      -1.5px
    );
  }

  &.is-size-2 {
    @include font-init($header-font-stack, 63px, normal, $weight-light, -0.5px);
  }

  &.is-size-3 {
    @include font-init($header-font-stack, 50px, normal, $weight-normal, 0px);
  }

  &.is-size-4 {
    @include font-init(
      $header-font-stack,
      36px,
      normal,
      $weight-normal,
      0.25px
    );
  }

  &.is-size-5 {
    @include font-init($header-font-stack, 25px, normal, $weight-normal, 0px);
  }

  &.is-size-6 {
    @include font-init(
      $header-font-stack,
      21px,
      normal,
      $weight-medium,
      0.15px
    );
  }
}

.subtitle {
  &.is-size-1 {
    @include font-init(
      $header-font-stack,
      17px,
      normal,
      $weight-normal,
      0.15px,
      1.25
    );
  }

  &.is-size-2 {
    @include font-init(
      $header-font-stack,
      15px,
      normal,
      $weight-medium,
      0.1px,
      1.25
    );
  }
}

.body {
  &.is-size-1 {
    @include font-init(
      $body-font-stack,
      17px,
      normal,
      $weight-normal,
      0.5px,
      1.625
    );
  }

  &.is-size-2 {
    @include font-init(
      $body-font-stack,
      15px,
      normal,
      $weight-normal,
      0.25px,
      1.5
    );
  }
}

.btn {
  &.is-size-1 {
    @include font-init(
      $body-font-stack,
      15px,
      normal,
      $weight-normal,
      0.25px,
      1.5
    );
  }
}

.caption {
  &.is-size-1 {
    @include font-init(
      $body-font-stack,
      13px,
      normal,
      $weight-normal,
      0.4px,
      1.25
    );
  }
}

//* set the font weight: .weight-light, .weight-medium
.title,
.subtitle,
.body,
.btn,
.caption {
  &.weight {
    &--light {
      font-weight: $weight-light;
    }

    &--normal {
      font-weight: $weight-normal;
    }

    &--medium {
      font-weight: $weight-medium;
    }
  }
}

//* SVG animation text
svg {
  .text {
    font-size: 0.5rem;
  }
}
