@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

$header-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Open Sans', sans-serif;

$color-charcoal: #343434;
$color-light-purple: #84a9df;
$color-dark-purple: #5788cf;

//* main
$main-bg-fallback: $color-light-purple;
$main-fg: $color-charcoal;
$main-bg: linear-gradient(90deg, $color-light-purple, $color-dark-purple);
$main-bg-alt: linear-gradient(180deg, $color-light-purple, $color-dark-purple);

//* logo
$logo-size: 200px; //* used for both width and height

@mixin header-font {
  font-family: $header-font-family;
}

@mixin body-font {
  font-family: $body-font-family;
}

@keyframes background-transition {
  0% {
    background: $color-light-purple;
  }

  50% {
    background: $color-dark-purple;
  }

  100% {
    background: $color-light-purple;
  }
}
