@mixin font-setup-scale($font-min, $font-max) {
  @media only screen and (max-width: $min-view-width) {
    font-size: $font-min;
    //font-size: smaller;
  }

  @media only screen and (min-width: $min-view-width) {
    font-size: calc(
      #{$font-min} + #{strip-unit($font-max - $font-min)} *
        (
          (100vw - #{$min-view-width}) / #{strip-unit(
              $max-view-width - $min-view-width
            )}
        )
    );
  }

  @media only screen and (min-width: $max-view-width) {
    font-size: $font-max;
  }
}

@mixin font-init(
  $family,
  $size,
  $style,
  $weight,
  $ltr-spacing,
  $line-height: 1
) {
  font-family: $family;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  letter-spacing: $ltr-spacing;
  line-height: $line-height;
}

//* @params: $init (Map object) to assign attribute: value
@mixin set-content($init) {
  @each $attr, $value in $init {
    #{$attr}: #{$value};
  }
}

//* scrollbar styling setup
@mixin scrollbar($size, $fg-color, $bg-color) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $fg-color;
  }

  &::-webkit-scrollbar-track {
    background: $bg-color;
  }

  & {
    scrollbar-width: thin;
    scrollbar-color: $fg-color $bg-color;
    scrollbar-face-color: $fg-color;
    scrollbar-track-color: $bg-color;
  }
}
