//* styles specific to the projects page
$projects-container-base: 200px, 350px;
$projects-container-small-medium: 200px, 350px;
$projects-container-medium: 350px, 400px;
$projects-container-large: 450px, 600px;

//#projects {
//}

//!@mixin all-projects-grid-setup($size) {
//!//$size: map-get($setup, "size");

//!display: grid;
//!grid-template-columns: repeat(auto-fill, minmax($size));
//!gap: 1rem;

//!justify-content: center;
//!justify-items: center;
//!align-items: center;
//!}

.all-projects {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($projects-container-base));
  gap: 1.5rem;

  background: gray;
}

@media only screen and (min-width: map-get($breakpoints, "small-medium")) {
  .all-projects {
    grid-template-columns: repeat(
      auto-fill,
      minmax($projects-container-small-medium)
    );
    background: red;
  }
}

@media only screen and (min-width: map-get($breakpoints, "medium")) {
  .all-projects {
    grid-template-columns: repeat(
      auto-fill,
      minmax($projects-container-medium)
    );
    background: blue;
  }
}

@media only screen and (min-width: map-get($breakpoints, "large")) {
  .all-projects {
    grid-template-columns: repeat(auto-fill, minmax($projects-container-large));
    background: green;
  }
}
