//* styles specific to the projects page

.all-projects {
  $projects-container-base: 300px, 0.8fr;
  $projects-container-base-height: 300px;

  width: 100%;
  margin: 0;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($projects-container-base));
  grid-template-rows: minmax($projects-container-base-height, 1fr);

  gap: 2rem 2rem;
  align-items: stretch;

  background: none;
  transition: all 1s;

  .carousel {
    min-height: 200px;
    max-height: 300px;

    &:empty {
      min-height: 200px;
      width: 100%;
      background: green;
    }

    > .carousel-img {
      min-height: 200px;
      min-width: 200px;

      background: red;
      object-fit: cover;
    }
  }
}
