//* styles specific to the projects page
$projects-container-base: 300px, 0.8fr;
$projects-carousel-base-height: 180px;
//$projects-container-small-medium: 200px, 0.9fr;
//$projects-container-medium: 300px, 0.9fr;
//$projects-container-large: 300px, 450px;

//#projects {
//}

.all-projects {
  width: 100%;
  //margin: 0.5rem 0;
  margin: 0;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($projects-container-base));
  gap: 2rem 2rem;
  align-items: start;

  background: gray;
  transition: all 1s;

  .carousel {
    min-height: $projects-carousel-base-height;
  }
}
