.carousel {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;

  border-radius: 0.5rem;

  > .carousel-img {
    display: inline-block;

    //! testing this to use cover
    min-width: inherit;
    min-height: inherit;
    object-fit: contain;
    //! ----------------------

    width: 100%;
    height: auto;
  }
}
