.carousel {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  //! new min-height so the page doesn't jump when the image loads
  //min-height: 200px;
  border-radius: 0.5rem;
  background: orange;

  //! testing this to use cover
  min-width: 200px;
  min-height: 160px;
  //! ----------------------

  > .carousel-img {
    display: inline-block;

    //! testing this to use cover
    min-width: inherit;
    min-height: inherit;
    object-fit: cover;
    //! ----------------------

    width: 100%;
    height: auto;
  }
}
