//* container holding all social icons
.display-icons-container {
  width: 100%;
  height: 100%;
  margin: 0.25rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

//* container holds in individual icon
.icon-container {
  cursor: pointer;
  width: map-get($icon-small, "size");
  height: map-get($icon-small, "size");
  margin: map-get($icon-small, "margin");

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: background 0.35s;

  &.social {
    border: 1px solid $theme-icon-bg;
    padding: map-get($icon-small, "padding");
  }

  //?&.page {
  //?display: inline-block; //* controlled
  //?max-width: 100%;
  //?height: auto;
  //?background: red;
  //?}

  &.named {
    height: max-content;
    position: relative;
    top: 0;
    left: 0;

    width: map-get($icon-small, "size") * 1.3;
    height: map-get($icon-small, "size") * 1.3;
    padding: 0.1rem;
    border-radius: 50%;

    > .icon-name {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0%);
      width: max-content;
      opacity: 0;
      color: $theme-on-primary;
      transition: opacity 0.35s;
      font-style: italic;
    }
  }

  &:hover {
    &:not(.named) {
      background: $theme-icon-bg;
    }

    > .icon-name {
      opacity: 1;
    }
  }
}

//* holds the link to the social/named icon
.icon-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: inherit;

  > img {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: map-get($breakpoints, "medium")) {
  .icon-container {
    width: map-get($icon-mid, "size");
    height: map-get($icon-mid, "size");
    margin: map-get($icon-mid, "margin");

    &.social {
      padding: map-get($icon-mid, "padding");
    }
  }
}

@media only screen and (min-width: map-get($breakpoints, "large")) {
  .icon-container {
    width: map-get($icon-large, "size");
    height: map-get($icon-large, "size");
    margin: map-get($icon-large, "margin");

    &.social {
      padding: map-get($icon-large, "padding");
    }
  }
}
