//* icon sizes based on media breakpoints
$icon-small: (
  "size": 35px,
  "padding": 0.25rem,
  "margin": 0 0.85rem,
);

$icon-mid: (
  "size": 40px,
  "padding": 0.3rem,
  "margin": 0 1rem,
);

$icon-large: (
  "size": 45px,
  "padding": 0.3rem,
  "margin": 0 1.15rem,
);

//$icon-small: 40px; //* default
//$icon-med: 50px;
//$icon-large: 55px;

//* container holding all social icons
.social-icons-container {
  width: 100%;
  height: 100%;
  margin: 0.25rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

//* container holds in individual icon
.icon-container {
  display: inline-block;
  width: map-get($icon-small, "size");
  height: map-get($icon-small, "size");
  margin: map-get($icon-small, "margin");
  padding: map-get($icon-small, "padding");

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $theme-icon-bg;
  border-radius: 6px;
  transition: background 0.35s;

  &:hover {
    background: $theme-icon-bg;
  }
}

//* holds the link to the social icon
.social-icon-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: inherit;

  > img {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: map-get($breakpoints, "medium")) {
  .icon-container {
    width: map-get($icon-mid, "size");
    height: map-get($icon-mid, "size");
    margin: map-get($icon-mid, "margin");
    padding: map-get($icon-mid, "padding");
  }
}

@media only screen and (min-width: map-get($breakpoints, "large")) {
  .icon-container {
    width: map-get($icon-large, "size");
    height: map-get($icon-large, "size");
    margin: map-get($icon-large, "margin");
    padding: map-get($icon-large, "padding");
  }
}
