//* @params
//!   $prefix: name used to identify transition
//*      - format: #{$prefix}-#{$id}
//*      - ex. where 'project' is $prefix: project-on-enter, project-on-enter-active
//!   $transition-data: all attributes being set for the selector

@mixin set-transition-on-parent($prefix, $transition-data) {
  @each $id, $idAttributes in $transition-data {
    &.#{$prefix}-#{$id} {
      @debug "";
      @debug "";
      @debug ".#{prefix}-#{$id}";
      @each $attr, $attrVal in $idAttributes {
        #{$attr}: #{$attrVal};
        @debug "- #{$attr}: #{$attrVal}";
      }
    }
  }
}

@mixin anim-transition-setup {
  $transition-wrapper-duration: 1s;

  $anim-base: (
    "min-width": 80px,
    "width": 90%,
    "max-width": 320px,
  );

  $anim-active: (
    "min-width": 200px,
    "width": 20%,
    "max-width": 600px,
  );

  &.anim-enter,
  &.anim-appear {
    @include set-content($anim-base);
  }

  &.anim-enter-active,
  &.anim-appear-active {
    @include set-content($anim-active);
    transition: all $transition-wrapper-duration;
  }

  &.anim-exit {
    @include set-content($anim-active);
  }

  &.anim-exit-active {
    @include set-content($anim-base);
    transition: all $transition-wrapper-duration;
  }
}

.project {
  //TODO TESTING TRANSITION
  @include anim-transition-setup();

  padding: 0.25rem;
  border-radius: 0.5rem;
  text-align: justify;
  overflow: hidden;
  max-width: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  //! testing
  flex: 0 1 auto;

  transition: all 1s;
  box-shadow: 1px 1px 2px 1px black;
  background: hsla(270, 100%, 90%, 0.35);
  //background: hsl(270, 100%, 90%);

  &.toggled-off {
    white-space: nowrap;
    text-overflow: ellipsis;

    > * {
      white-space: inherit;
      text-overflow: inherit;
      overflow: inherit;
    }
  }

  &.toggled-on {
    > .project-data {
      white-space: normal;
      overflow: visible;
    }
  }

  //> .project-data {
  ////text-overflow: ellipsis;
  ////overflow: hidden;
  ////padding: 0.25rem 1rem;

  ////flex: 1 1 90%;
  ////width: 100%;
  ////max-width: 600px;
  ////flex: 1 1 auto;
  ////transition: all 1s;
  //}

  > .carousel {
    flex: 1 1 auto;
  }

  > .title,
  > .subtitle {
    margin: 0;
    padding: 0 0.5rem;
    margin-bottom: 0.625rem;
    width: 100%;
  }

  > .title {
    margin-top: 0.75rem;
  }

  > .subtitle {
    font-size: 90%;
  }

  > .content-toggle {
    align-self: flex-end;
    margin-top: auto;
  }

  > .project-data {
    max-width: 300px;
    width: 90%;
  }
}
