.footer-view {
  padding: 2rem 0;
  background: $theme-secondary-bg;
}

.footer {
  margin: 0;
  padding: 0;

  color: $theme-on-secondary;
  font-weight: $weight-light;

  > .closing-words {
    font-size: 125%;
    font-weight: inherit;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  > .copyright {
    margin: 1rem 0;
    font-size: 85%;
    font-weight: inherit;
  }
}
