.footer {
  max-width: $max-view-width;
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 1rem 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: $theme-on-primary;
  background: $theme-primary-bg;

  > .footer-text {
    margin: 1rem 0;
  }
}
