@keyframes background-transition {
  0% {
    background: #84a9df;
  }
  50% {
    background: #5788cf;
  }
  100% {
    background: #84a9df;
  }
}
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-family: Lato, sans-serif;
  font-size: 101px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -1.5px;
  line-height: 1.15;
}

h2 {
  font-family: Lato, sans-serif;
  font-size: 63px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 1.15;
}

h3 {
  font-family: Lato, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.15;
}

h4 {
  font-family: Lato, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 1.15;
}

h5 {
  font-family: Lato, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.15;
}

h6 {
  font-family: Lato, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 1.15;
}

p {
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

button {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  width: 100%;
  overflow: hidden;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #343434;
  background: #fafaff;
}
.App::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.App::-webkit-scrollbar-thumb {
  background: #5788cf;
}
.App::-webkit-scrollbar-track {
  background: black;
}
.App {
  scrollbar-width: thin;
  scrollbar-color: #5788cf black;
  scrollbar-face-color: #5788cf;
  scrollbar-track-color: black;
}

.view {
  position: relative;
  top: 0;
  left: 0;
  max-width: 1200px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: #9394cc;
}
.view:nth-of-type(2n) {
  background: green;
}
.view.centered {
  justify-content: center;
}

.view-section {
  z-index: 1;
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.debug {
  border: 2px solid red;
}

.particle-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #9394cc;
  opacity: 1;
}

.footer {
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 0.5rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.img-container {
  display: inline-block;
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;
  width: 90%;
}
.img-container.small {
  max-width: 100px;
  max-height: 100px;
}
.img-container.large {
  max-width: 400px;
  max-height: 400px;
}
.img-container > img {
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=main.css.map */
