@keyframes background-transition {
  0% {
    background: #84a9df;
  }
  50% {
    background: #5788cf;
  }
  100% {
    background: #84a9df;
  }
}
@keyframes travel-offset {
  to {
    offset-distance: 100%;
  }
}
@keyframes dash {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.animate-it {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
}
.animate-it .path {
  fill: #343434;
}
.animate-it .path.with-text {
  stroke: orange;
}
.animate-it .text {
  stroke: #fafaff;
  stroke-width: 1px;
}
.animate-it .text.offset {
  fill: none;
  stroke-width: 0.25px;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: 5s ease 1s infinite dash;
}
.animate-it .text-path {
  stroke-width: 1px;
  stroke: #9394cc;
  fill: black;
}
.animate-it .line {
  width: 100px;
  height: 10px;
  fill: orange;
  stroke: black;
}

body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-family: Lato, sans-serif;
  font-size: 101px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -1.5px;
  line-height: 1.15;
}

h2 {
  font-family: Lato, sans-serif;
  font-size: 63px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 1.15;
}

h3 {
  font-family: Lato, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.15;
}

h4 {
  font-family: Lato, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 1.15;
}

h5 {
  font-family: Lato, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.15;
}

h6 {
  font-family: Lato, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 1.15;
}

p {
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

button {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 1.5;
}

svg .text {
  font-size: 0.5rem;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow: hidden;
}

p {
  width: 100%;
  padding: 0;
  margin: 0.5rem 0;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #343434;
  background: #bdbfe5;
}
.App::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.App::-webkit-scrollbar-thumb {
  background: #5788cf;
}
.App::-webkit-scrollbar-track {
  background: black;
}
.App {
  scrollbar-width: thin;
  scrollbar-color: #5788cf black;
  scrollbar-face-color: #5788cf;
  scrollbar-track-color: black;
}

.page-view {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: #9394cc;
}

.view-title {
  width: max-content;
  height: auto;
  z-index: 0;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}
.view-title.show-sides:before, .view-title.show-sides:after {
  z-index: 1;
  content: "";
  max-width: 2rem;
  max-height: 0.35rem;
  width: 100%;
  height: 100%;
  background: none;
  margin: 0;
  padding: 0;
  border: 2px solid #343434;
}
.view-title.show-sides:before {
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(50%, 0%);
}
.view-title.show-sides:after {
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translate(-50%, 0%);
}

.view {
  position: relative;
  top: 0;
  left: 0;
  max-width: 1200px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: none;
}
.view:nth-of-type(2n) {
  background: green;
}
.view.centered {
  justify-content: center;
}

.view-section {
  z-index: 1;
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.debug {
  border: 2px dashed red;
}

.particle-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 1;
}

.footer-view {
  padding: 2rem 0;
  background: #bdbfe5;
}

.footer {
  margin: 0;
  padding: 0;
  color: #343434;
  font-weight: 300;
}
.footer > .closing-words {
  font-size: 125%;
  font-weight: inherit;
  margin: 0;
  margin-bottom: 1.5rem;
}
.footer > .copyright {
  margin: 1rem 0;
  font-size: 85%;
  font-weight: inherit;
}

.img-container {
  display: inline-block;
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;
  width: 90%;
}
.img-container.small {
  max-width: 100px;
  max-height: 100px;
}
.img-container.large {
  max-width: 400px;
  max-height: 400px;
}
.img-container > img {
  max-width: 100%;
  height: auto;
}

.social-icons-container {
  width: 100%;
  height: 100%;
  margin: 0.25rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 0.85rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fafaff;
  border-radius: 6px;
  transition: background 0.35s;
}
.icon-container:hover {
  background: #fafaff;
}

.social-icon-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.social-icon-link > img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 800px) {
  .icon-container {
    width: 40px;
    height: 40px;
    margin: 0 1rem;
    padding: 0.3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .icon-container {
    width: 45px;
    height: 45px;
    margin: 0 1.15rem;
    padding: 0.3rem;
  }
}

/*# sourceMappingURL=main.css.map */
